ISF_WebApp/resources/query.dtd

<!ELEMENT QUERY (CLAUSE)+>
<!ATTLIST QUERY
TYPE CDATA #REQUIRED
MODE CDATA #REQUIRED
SESSIONID CDATA #REQUIRED>

<!ELEMENT CLAUSE (CLAUSE* | QUERY_CONDITION*)>
<!ATTLIST CLAUSE CONNECTOR CDATA #REQUIRED>

<!ELEMENT QUERY_CONDITION (QUERY_CONDITION)*>
<!ATTLIST QUERY_CONDITION KEY CDATA #REQUIRED
VALUE CDATA #REQUIRED
OPERATOR CDATA #REQUIRED
CONNECTOR CDATA #REQUIRED>